@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .dot {
      @apply w-5 h-5 bg-[#183153] rounded-full opacity-50 animate-pulse;
      animation: pulse 0.9s ease-in-out infinite;
    }
  
    @keyframes pulse {
      0%, 100% {
        transform: scale(0);
        opacity: 0.5;
      }
      50% {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  